.toDo {
    background-color: RGB(247, 202, 201);
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
    font-family: Sans-Serif;
    width: 400px;
    height: 30px;
    margin: auto;
    font-weight: bold;
}
.newToDo {
    border-color: green;
    font-weight: bold;
}
.low {
    color: blue;
    font-weight: bold;
}
.medium {
    color: yellow;
    font-weight: bold;
}
.high {
    color: red;
    font-weight: bold;
}
